/__pycache__/all_cards.cpython-310.pyc
/__pycache__/cards.cpython-310.pyc
/__pycache__/cards.cpython-36.pyc
/__pycache__/deck.cpython-310.pyc
/__pycache__/deck.cpython-36.pyc
/__pycache__/handybrawl.cpython-310.pyc
/__pycache__/handybrawl.cpython-36.pyc
